<%- include('../partials/header') %>

<div class="container center">
    <a href="/pokemon/all" class="btn btn-warning">Back to All Pokemon</a>
    <h2 class="text-center name-title"><%= poke.customName %></h2>
    <div class="container col text-center">
        <img src="<%= poke.img %>" alt="pokeemon" class="show-image">
    </div>

    <hr>

    <% if (loggedIn) {%>
    <div class="d-flex justify-content-center">
        <form class="align-items-center" action="/pokemon/update/<%= poke._id %>?_method=PUT" method="POST">
            <fieldset class="align-items-center">
                <label for="customName">Change Name?</label>
                <input type="text" name="customName" value="<%= poke.customName %>">
                <input type="checkbox" class="btn-check" id="btn-check" autocomplete="on" name="favorite" <%= poke.favorite ? 'checked' : '' %>>
                <label class="btn btn-primary" for="btn-check">Click to Favorite</label>
                <input type="submit" class="btn btn-success" value="Update">
            </fieldset>
        </form>
        <form class="ms-3" action="/pokemon/delete/<%= poke._id %>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Release">
        </form>
        <form class="ms-3" id="add-notes-form" method="POST" action="/pokemon/captured/<%= poke._id %>/notes">
            <label>Note:</label>
            <input type="text" name="content" value="">
            <input type="submit" class="btn btn-success" value="Add Note">
        </form>
    <% } else {%>
        <p>Log in to capture and favorite Pokemon!</p>
    <% } %>
    </div>

    <hr>

    <table style="width:50%" class="table mt-3 center text-center table-hover">
        <thead>
            <tr>
                <th scope="col">Species</th>
                <th scope="col">Type</th>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" class="cap"><%= poke.name %></td>
                <td scope="row" class="cap"><%= poke.type %></td>
                <td scope="row" class="cap"><%= poke.number %></td> 


            </tr>
        </tbody>
    </table>
    <hr>
    <table style="width:20%" class="table table-borderless mt-3 center table-hover">
        <thead>
            <tr>
                <!-- <th>Stats</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">HP</th>
                <td scope="col"> <%= poke.hp %></td>
            </tr>
            <tr>
                <th scope="row">Attack</th>
                <td scope="col"> <%= poke.attack %></td>
            </tr>
            <tr>
                <th scope="row">Defense</th>
                <td scope="col"> <%= poke.defense %></td>
            </tr>
            <tr>
                <th scope="row">Speed</th>
                <td scope="col"> <%= poke.speed %></td>
            </tr>
            <tr>
                <th scope="row">Height</th>
                <td scope="col"> <%= poke.height %></td>
            </tr>
            <tr>
                <th scope="row">Weight</th>
                <td scope="col"> <%= poke.weight %></td>
            </tr>
        </tbody>
    </table>


    <% if (loggedIn && poke.notes.length) { %>
        <table style="width:40%" class="table table-borderless mt-3 center table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
            <% poke.notes.forEach(function(n) { %>
                <tr>
                    <td><%= n.createdAt.toLocaleDateString() %></td>
                    <td><%= n.content %></td>
                    <td>
                        <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
                            <button type="submit">🗑️</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
            <tr>
                <td colspan="3"></td>
            </tr>
            </tbody>
        </table>
    <% } else { %>
        <h5>No Reviews Yet</h5>
    <% } %>


</div>


<%- include('../partials/footer') %>