<%- include('../partials/header') %>

<div class="container center">
    <a href="/pokemon/all" class="btn btn-warning">Back to All Pokemon</a>
    <h2 class="text-center name-title"><%= poke.name %></h2>
    <div class="container col text-center">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= poke.id %>.png" alt="pokemon" class="show-image">
    </div>

    

    <% if (loggedIn) {%>
    <div class="d-flex justify-content-center">
        <form class="align-items-center" action="/pokemon/add" method="POST">
            <fieldset class="align-items-center">
                <input hidden type="text" name="name"  value="<%= poke.name %>">
                <input hidden type="text" name="number" value="<%= poke.id %>">
                <input hidden type="text" name="type" value="<%= poke.types.map(function(type)
                { return type.type.name.charAt(0) + type.type.name.slice(1)}).join(' , '); %>">
                <input hidden type="text" name="species" value="<%= poke.name %>">
                <input hidden type="text" name="hp" value="<%= poke.stats[0].base_stat %>">
                <input hidden type="text" name="attack" value="<%= poke.stats[1].base_stat %>">
                <input hidden type="text" name="defense" value="<%= poke.stats[2].base_stat %>">
                <input hidden type="text" name="speed" value="<%= poke.stats[5].base_stat %>">
                <input hidden type="text" name="height" value="<%= poke.height %>">
                <input hidden type="text" name="weight" value="<%= poke.weight %>">
                <input hidden type="text" name="img" value="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= poke.id %>.png">
                <label for="customName">Give it a name!</label>
                <input type="text" name="customName">
                <input type="checkbox" class="btn-check" id="btn-check" autocomplete="on" name="favorite">
                <label class="btn btn-primary" for="btn-check">Click to Favorite</label>
                <input type="submit" class="btn btn-success" value="Capture">
            </fieldset>
        </form>
    <% } else {%>
        <div style="text-align:center">
            <h4>Log in to capture and favorite Pokemon!</h4>
        </div>
    <% } %>
    </div>

    <hr>

    <table style="width:50%" class="table mt-3 center text-center table-hover">
        <thead>
            <tr>
                <th scope="col">Species</th>
                <th scope="col">Type</th>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" class="cap"><%= poke.name %></td>
                <!-- pokemon can have more than one type. Using .map() to grab each -->
                <td scope="row" class="cap"><%= poke.types.map(function(type)
                    { return type.type.name.charAt(0) + type.type.name.slice(1)}).join(' , '); %></td>
                <td scope="row" class="cap"><%= poke.id %></td> 
            </tr>
        </tbody>
    </table>
    <hr>
    <table style="width:30%" class="table table-borderless mt-3 center table-hover">
        <thead>
            <tr>
                <!-- <th>Stats</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">HP</th>
                <td scope="col"> <%= poke.stats[0].base_stat %></td>
            </tr>
            <tr>
                <th scope="row">Attack</th>
                <td scope="col"> <%= poke.stats[1].base_stat %></td>
            </tr>
            <tr>
                <th scope="row">Defense</th>
                <td scope="col"> <%= poke.stats[2].base_stat %></td>
            </tr>
            <tr>
                <th scope="row">Speed</th>
                <td scope="col"> <%= poke.stats[5].base_stat %></td>
            </tr>
            <tr>
                <th scope="row">Height</th>
                <td scope="col"> <%= poke.height %></td>
            </tr>
            <tr>
                <th scope="row">Weight</th>
                <td scope="col"> <%= poke.weight %></td>
            </tr>
        </tbody>
    </table>
</div>


<%- include('../partials/footer') %>