<%- include('../partials/header') %>

<div class="container center">
    <% if (loggedIn) {%>
        <h5>Capture Pokemon?</h5>
        <form action="/pokemon/add" method="POST">
            <fieldset>
                <input hidden type="text" name="name" value="<%= poke.name %>">
                <input hidden type="text" name="number" value="<%= poke.id %>">
                <label for="customName">Give it a name!</label>
                <input type="text" name="customeName" value="">

                <input type="checkbox" class="btn-check" id="btn-check" autocomplete="on" name="captured">
                <label class="btn btn-primary" for="btn-check">Click to Favorite</label>

            </fieldset>
            <input type="submit" class="btn btn-success" value="Capture">
        </form>
    <% } else {%>
        <p>Log in to capture and favorite Pokemon!</p>
    <% } %>
    <hr>
    <a href="/places/all" class="btn btn-warning">Back to All Countries</a>
    <h2 class="text-center name-title"><%= poke.name %></h2>
    <div class="container col text-center">
        <img src="<%= poke.sprites.other.home.front_default %>" alt="coat of arms" class="show-image">
    </div>
    <table style="width:50%" class="table table-striped mt-3 center text-center table-hover">
        <thead>
            <tr>
                <th scope="col">Species</th>
                <th scope="col">Type</th>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" class="cap"><%= poke.name %></td>
                <td scope="row" class="cap"><%= poke.types[1].type.name %></td>
                <td scope="row"><%= poke.id %></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <table style="width:30%" class="table table-borderless mt-3 center table-hover">
        <thead>
            <tr>
                <!-- <th>Stats</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">HP</th>
                <td scope="col"> <%= poke.stats[0].base_stat %></td>
            </tr>
            <tr>
                <th scope="row">Attack</th>
                <td scope="col"> <%= poke.stats[1].base_stat %></td>
            </tr>
            <tr>
                <th scope="row">Defense</th>
                <td scope="col"> <%= poke.stats[2].base_stat %></td>
            </tr>
            <tr>
                <th scope="row">Speed</th>
                <td scope="col"> <%= poke.stats[5].base_stat %></td>
            </tr>
            <tr>
                <th scope="row">Height</th>
                <td scope="col"> <%= poke.height %></td>
            </tr>
            <tr>
                <th scope="row">Weight</th>
                <td scope="col"> <%= poke.weight %></td>
            </tr>
        </tbody>
    </table>
</div>


<%- include('../partials/footer') %>